body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif; 
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden ; /*Tira o scroll da horizontal*/
  }

  
.pai {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  
  /* Estilo da barra de navegação */
  .header {
    width: 100%;
    height: 20%;
    background-color: #d7a8e6; /* Cor de fundo da barra de navegação */
    border-bottom: 2px solid #c490ff; /* Cor da borda inferior */
    box-shadow: 0 2px 10px rgba(122, 104, 187, 0.705); /* Sombra em caixa */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .menuhamburguer {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .navbar li {
    margin-right: 20px; /* Espaçamento entre os itens */
  }
  
  .navbar li a {
    text-decoration: none;
    color: #221444; /* Cor do texto */
    transition: color 0.3s ease; /* Transição suave da cor */
  }
  
  .navbar li a:hover {
    color: #34005c; /* Cor do texto ao passar o mouse */
  }
  
  .imguser {
    height: 60PX;
    width: 140px;
    
  }

  /* ------------------------ INICIO DA PAGINA ---------------------------------- */

    .pai-inicio {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .Texto-BoasVindas {
      display: flex;
      line-height: 1.2;
      text-align: justify;
      width: 50%;
      margin-top: 50px;
      margin-right: 25px;
      border: 0px solid #ffffff;
      box-shadow: 0 2px 10px rgba(122, 104, 187, 0.486); /* Sombra em caixa */
      padding: 9px;
      border-radius: 5px;
      flex-direction: column;
    }

    .video-apresentacao {
      width: 40%;
      margin-right: 20px;
      margin-top: 20px;
      margin-left: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 20px;
      background-color: #d3c1e02d;
    }

    .botoes {
      display: flex;
      gap: 10px;
      justify-content: center;
      padding-top: 20px;
    }

    .botoes button {
      background-color: #38125c; /* Cor de fundo */
      border: none; /* Sem bordas */
      color: white; /* Cor do texto */
      padding: 15px 32px; /* Espaçamento interno */
      text-align: center; /* Alinhamento do texto */
      text-decoration: none; /* Sem sublinhado */
      display: inline-block; /* Exibição inline */
      font-size: 16px; /* Tamanho da fonte */
      margin: 4px 2px; /* Margens */
      cursor: pointer; /* Cursor de ponteiro */
      border-radius: 8px; /* Bordas arredondadas */
      transition: background-color 0.3s ease; /* Transição suave */
    }

    .botoes button:hover {
      background-color: #7745a0; /* Cor de fundo ao passar o mouse */
    }


  /* ___________________________ INICIO DA PAGINA ________________________________ */

  /* ------------------------------ Questionário ----------------------------------- */
  .questio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(122, 104, 187, 0.486);
    margin-top: 30px;
    padding: 20px;
    padding-top: 50px;
    margin-top: 90px;
    background-color: #fff;
    width: 80%;
    max-width: 600px;
}

.questio h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #4a4a4a;
}

.pergunta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #c490ff49;
    border: 2px solid rgb(155, 130, 179);
}

.pergunta label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.pergunta select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    color: #333;   
}

.pergunta select:focus {
    border-color: #7a68bb;
    outline: none;
    box-shadow: 0 0 5px rgba(122, 104, 187, 0.486);
}


.div_mensagem, .plogin {

  margin-top: 5px;
  width: 50%;
  height: 30%;
  font-size: large;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content:center ; 
  margin-bottom: 20px; 
}

.div_mensagem {
box-shadow: 0 8px 16px rgba(122, 104, 187, 0.705); /* Sombra em caixa */
padding-bottom: 10px;
}

.div_msg_questio {
  margin-top: 50px;
  width: 50%;
  height: 30%;
  font-size: large;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content:center ; 
  margin-bottom: 20px; 
}


.graficos {
  width: 50%;
  border: 5px #38125c;
  box-shadow: 1px 8px 6px 6px rgba(122, 104, 187, 0.705) ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 6px;
  padding: 10px;
}